<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Blank (2017-01-23 19:23)</string>
	<string>M6.1.1-4338-1</string>
	<string>M6.2-4582-1</string>
	<string>M6.3-5046-3</string>
	<string>G-r15-2DB09</string>
</array>
</plist>
